

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Rehberim</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" type="text/css" href="~/css/Navbar.css">
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>

	<div class="sidebar">
		<div class="logo-details">
			<i class='bx bxs-contact icon'></i>
			<div class="logo_name">Rehberim</div>
			<i class='bx bx-menu' id="btn"></i>
		</div>
		
		<ul class="nav-list">
			

			<li>
				<a asp-area="" asp-controller="Kisi" asp-action="AdminIndex">
					<i class='bx bx-user'></i>
					<span class="links_name">Üyeler</span>
				</a>
				<span class="tooltip">Üyeler</span>
			</li>
			<li>
				<a asp-area="" asp-controller="Kisi" asp-action="AdminDetayliIndex">
					<i class='bx bx-user'></i>
					<span class="links_name">Üyeler & Kişi Listesi</span>
				</a>
				<span class="tooltip">Üyeler & Kişi Listesi</span>
			</li>
			<li>
				<a href="https://outlook.live.com/mail/0/deeplink/compose?to=your@email.com">
					<i class='bx bx-chat'></i>
					<span class="links_name">Mail Gönder</span>
				</a>
				<span class="tooltip">Mail Gönder</span>
			</li>
			<li class="profile">
				<a asp-area="" asp-controller="Kisi" asp-action="Giris"><i class='bx bx-log-out' id="log_out"></i>&nbsp; &nbsp;Çıkış Yap</a>


			</li>


		</ul>
	</div>
	<script>
		let sidebar = document.querySelector(".sidebar");
		let closeBtn = document.querySelector("#btn");
		let searchBtn = document.querySelector(".bx-search");

		closeBtn.addEventListener("click", () => {
			sidebar.classList.toggle("open");
			menuBtnChange();//calling the function(optional)
		});

		searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
			sidebar.classList.toggle("open");
			menuBtnChange(); //calling the function(optional)
		});

		// following are the code to change sidebar button(optional)
		function menuBtnChange() {
			if (sidebar.classList.contains("open")) {
				closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
			} else {
				closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
			}
		}
	</script>

	<div class="container">
		<main role="main" class="pb-3">
			@if (TempData["BasariliMesaj"] != null)
			{
				<div class="alert alert-success">
					@TempData["BasariliMesaj"]
				</div>

			}
			@if (TempData["HataliMesaj"] != null)
			{
				<div class="alert alert-danger">
					@TempData["HataliMesaj"]
				</div>

			}
			@RenderBody()
		</main>
	</div>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>

	<!-- Required for using jQuery maskedinput plugin -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js">
	</script>

</body>
</html>

<script type="text/javascript">
	$(document).ready(function() {

		$("#third-phone").mask("(999)-999-9999");

	});
</script>